.links {
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    margin-top: 10px;
}

a {
    padding: 4px;
    margin: 10px;
    cursor: pointer;
    border-radius: 6px;
}

a:hover {
    background-color: #fafafa;
}

a:focus{
    border: 1px solid #e9eafc;
}